<div class="container" ng-controller="fcontroller as fc">
	<div class="row">
		<div class="col-md-12">
			<div class="col-sm-3 col-md-3" ng-repeat="f in fc.scustomer">
				<div class="thumbnail">
					<h4 class="text-center">
						<span class="label label-info">{{f.name}}</span>
					</h4>
					<img src="http://localhost:8080/JobMiddle/getimage?email={{f.emailId}}" class="img-responsive"  height="100" width="150">
					<span class="btn btn-danger" ng-show="f.onlinestatus==false">OFFLINE</span>
					<span class="btn btn-success" ng-show="f.onlinestatus==true">ONLINE</span>
					<a ng-click='fc.submit(f.emailId)' class="btn btn-primary pull-right">Send Request</a>				
				</div>
			</div>
		</div>
	</div>
</div>