<div class="container" ng-controller="jcontroller as jc">
	<div class="row transparent">

  <div class="panel panel-default" ng-repeat="j in jc.jobs">
    <div class="panel-heading">{{j.jobTitle}}</div>
    <div class="panel-body" style="text-align: justify;">
    <div class="row">
    <div class="col-md-8">{{j.jobDescription}}</div>
   <div class="col-md-4"> <button type="button" class="btn btn-default" ng-click="jc.selectonejob(j.id)">View Details   <span class="glyphicon glyphicon-hand-right"></span> </button>
		  </div>
    </div>
    </div>
   
  </div>
  
</div>
</div>